#about ul {
  padding: 15px 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

#about li {
  padding: 25px;
  color: white;
  box-sizing: border-box;
  background: linear-gradient(to right, var(--blue-secondary), var(--blue-primary));
}

#about i {
  font-size: 50px;
}

.about-main li {
  flex-basis: 49%;
}

.about-main .image {
  padding: 0 !important;
}

.about-main .image-help {
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/help.jpg');
  background-position: center;
  background-size: cover;
}

.about-detail li {
  flex-basis: 23%;
}
