#cooperative {
  min-height: calc(100vh - 80px);
  padding: 30px 5% 15px 5%; 
}

#cooperative h2 {
  text-align: center;
}

#cooperative section {
  flex-grow: 1;
  box-sizing: border-box;
}

#cooperative section {
  scroll-margin-top: 75px;
  min-height: calc(100vh - 80px);
  padding: 30px 5% 15px 5%;
}

#cooperative section:nth-child(odd) {
  background-color: rgb(243, 243, 243);
}

#cooperative .card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

#cooperative .card-list > li {
  flex-basis: 49%;
  margin: 15px 0;
  padding: 25px;
  color: white;
  box-sizing: border-box;
  background: linear-gradient(to right, var(--blue-secondary), var(--blue-primary));
}

#cooperative .card-list > li:last-child {
  flex-grow: 1;
}

#cooperative .card-list li i {
  font-size: 50px;
}

#cooperative .options {
  margin-top: 15px;
  padding: 0 30px;
  list-style: disc;
}

#cooperative .options li {
  padding: 5px 0;
}

#cooperative .card-list li p:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 900px) {
  #cooperative section:first-of-type {
    min-height: auto;
  }
}

@media only screen and (max-width: 700px) {
  #cooperative > ul {
    flex-direction: column;
  }

  #cooperative .card-list > li {
    margin: 5px 0;
  }

  #cooperative li > i {
    display: block;
    margin: 0 auto;
    width: 45px;
  }
}

@media only screen and (max-width: 400px) {
  #cooperative .card-list li {
    font-size: 12px;
  }
}
