:root {
  --blue-primary: #2a126c;
  --blue-secondary: #0276cd;
  --red-primary: #ff0000;
  --yellow: #ffd900;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body.stop-transitions * {
  transition: none !important;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

@media only screen and (max-width: 600px) { 
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }
}
