header {
  z-index: 2;
  position: sticky;
  top: -1px;
}

.main-menu {
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  padding: 0 5%;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-primary);
  color: white;
}

.main-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-menu ul li {
  display: inline-block;
}

.main-menu a {
  display: block;
  color: white;
  text-decoration: none;
}

.main-menu i {
  color: white;
  padding: 0 10px;
}

.contact i {
  color: white;
}

.contact a {
  padding: 15px;
}

.social i {
  font-size: 1.5rem;
}

.social a {
  padding: 5px;
}

.second-menu {
  width: 100%;
  position: sticky;
  margin-top: 50px;
  top: 0;
  box-sizing: border-box;
  padding: 0 5%;
  min-height: 80px;
  background-color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 5px rgb(180, 180, 180);
}

.second-menu img {
  z-index: 1;
  position: absolute;
  width: 120px;
  top: 20px;
}

.second-menu ul {
  transform-origin: top;
  list-style: none;
  padding: 0;
  margin: 0;
}

.second-menu li {
  display: inline-block;
}

.second-menu a { 
  display: block;
  padding: 25px;
  font-size: 20px;
  text-decoration: none;
  transition: .2s;
  color: black;
}

.second-menu a:hover {
  color: var(--blue-secondary);
}

.second-menu .show {
  transform: scaleY(1);
  height: 100%;
}

.menu {
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mobile {
  display: none;
  font-size: 40px;
  padding: 20px 25px;
}

#mobile:active,
#mobile:hover {
  background-color: rgb(226, 226, 226);
}

@media only screen and (max-width: 900px) {
  header {
    top: 0;
  }

  .main-menu {
    min-height: 80px;
  }
  
  .main-menu ul li {
    display: block;
  }

  .main-menu a {
    padding: 0;
  }

  .second-menu {
    display: block;
    padding: 0;
    margin-top: 80px;
  }

  .second-menu ul {
    width: 100%;
    height: 0;
    position: absolute;
    transition: .5s;
    transform: scaleY(0);
  }

  .second-menu li {
    background-color: white;
    border-top: 1px solid rgb(173, 173, 173);
    display: block;
  }

  .second-menu a {
    text-align: center;
  }

  .social i {
    font-size: 1.2rem;
  }

  #mobile {
    display: block;
  }
}
