#posts-instagram > div {
  z-index: 1;
}

#posts-instagram iframe {
  border:none; 
  overflow:hidden; 
  width:100%;
}

#posts-instagram a {
  display: block;
  text-decoration: none;
  transition: .2s;
  color: black;
}

#posts-instagram a:hover {
  color: var(--blue-secondary);
}
